/* app css stylesheet */

#container {
    width: 70%;
    padding:50px;
}

#referenceList {
    width: auto;
    margin-top:50px;
}

#detailList {
    list-style: none;
    margin-bottom: 0px;
}

#referenceList button {
    margin-left: 10px;
}

#infofields {
    width: auto;
}
#tags {
    padding-top: 80px;
}

.clearfix {
    clear: both;
}

.error {
    color:red;
}



