<div class="control-group">
    <label class="control-label">Search</label>
    <div class="controls">
        <input id="textinput" name="search" type="text" placeholder="" class="search-query" ng-model="query">
    </div>
</div>
<div class="well">
    <div id="bibtext" ng-repeat="reference in references|filter:query">
        @{{reference.type}}<span>{</span>{{reference.bibtextID}},
        <ul id="detailList">
            <li ng-repeat="(field, value) in reference|bibtext">
                {{field}} = {{value}},
            </li> 
        </ul>
        }<br><br>
    </div>
</div>


