<div class="control-group">
    <label class="control-label">Search</label>
    <div class="controls">
        <input id="textinput" name="search" type="text" placeholder="" class="search-query" ng-model="query">
    </div>
</div>

<table id="referenceList" class="table-striped table-bordered table" ng-hide="!references.length">
    <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Year published</th>
        <th>Bibtext</th>
    </tr>
    <tr ng-repeat="reference in references | filter:query">
        <td id="typefield">{{reference.type}}</td>
        <td id="titlefield">{{reference.title}}</td>
        <td id="authorfield">{{reference.authors|concat}}</td>
        <td id="yearfield">{{reference.year}}</td>
        <td><a href="#/references/{{reference.id}}">BibText</a></td>
    </tr>
</table>
<p class="alert alert-block" ng-show="!references.length">No references! You can add new references from the top menu</p>
