<div>

    <form name="submitReference" class="form-horizontal">
        <fieldset id="infofields" class="pull-left">

            <!-- Form Name -->
            <legend>Submit new reference</legend>


            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <select id="type" name="type" class="input-xlarge" ng-model="reference.type">
                        <option>Book</option>
                        <option>Inproceedings</option>
                        <option>Article</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls">
                    <input id="titleinput" name="title" type="text" placeholder="" class="input-xlarge" ng-model="reference.title" required>
                    <span class="error" ng-show="submitReference.title.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group" ng-show="isInproceedings()">
                <label class="control-label">Book Title</label>
                <div class="controls">
                    <input id="booktitleinput" name="publisher" type="text" placeholder="" class="input-xlarge" ng-model="reference.booktitle">
                    <span class="error" ng-show="submitReference.booktitle.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label">Author</label>
                <div class="controls">
                    <div ng-repeat="auth in reference.authors">
                        <input name="auth[$index]" type="text" placeholder="Firstname Lastname" class="input-xlarge authorinput" ng-model="reference.authors[$index].name" required>
                        <span class="error" ng-show="submitReference.auth[$index].$error.required">required</span>
                    </div>
                    <button class="btn-small btn-info" ng-click="newAuthorField()"><i class="icon-plus-sign"></i> Add field</button>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label">Year published</label>
                <div class="controls">
                    <input id="yearinput" name="year" type="text" placeholder="" class="input-xlarge" ng-model="reference.year" required>
                    <span class="error" ng-show="submitReference.year.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label">Publisher</label>
                <div class="controls">
                    <input id="publisherinput" name="publisher" type="text" placeholder="" class="input-xlarge" ng-model="reference.publisher">
                    <span class="error" ng-show="submitReference.publisher.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label">Journal</label>
                <div class="controls">
                    <input id="journalinput" name="journal" type="text" placeholder="" class="input-xlarge" ng-model="reference.journal">
                    <span class="error" ng-show="submitReference.journal.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group" ng-show="isArticle()">
                <label class="control-label">Volume</label>
                <div class="controls">
                    <input id="volumeinput" name="publisher" type="text" placeholder="" class="input-xlarge" ng-model="reference.volume">
                    <span class="error" ng-show="submitReference.volume.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group" ng-show="isArticle()">
                <label class="control-label">Number</label>
                <div class="controls">
                    <input id="numberinput" name="publisher" type="text" placeholder="" class="input-xlarge" ng-model="reference.number">
                    <span class="error" ng-show="submitReference.number.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group" ng-show="isArticleOrInproceedings()">
                <label class="control-label">Pages</label>
                <div class="controls">
                    <input id="pagesinput" name="publisher" type="text" placeholder="" class="input-xlarge" ng-model="reference.pages">
                    <span class="error" ng-show="submitReference.pages.$error.required">required</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label">Address</label>
                <div class="controls">
                    <input id="addressinput" name="publisher" type="text" placeholder="" class="input-xlarge" ng-model="reference.address">
                    <span class="error" ng-show="submitReference.address.$error.required">required</span>
                </div>
            </div>


            <!-- Button (Double) -->
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button id="clearbutton" name="button1id" class="btn btn-danger" ng-click="reset()"  ng-show="!modify">Clear</button>
                    <button id="clearbutton" name="button1id" class="btn btn-danger" ng-click="getArticleDetails()"  ng-show="modify">Reset</button>
                    <button id="submitbutton" name="button2id" class="btn btn-success" ng-click="submit(reference)">Submit</button>
                </div>
            </div>


            <div class="control-group" ng-show="!modify">
                <label class="control-label"></label>
                <div class="controls">
                    <button id="debugsubmit" name="debugsubmit" class="btn btn-warning" ng-click="debugSubmit()">Submit debug data</button>
                </div>
            </div>
        </fieldset>

        <fieldset id="tags">
            <div class="control-group pull-left">
                <label class="control-label">Tags</label>
                <div class="controls">
                    <div ng-repeat="tag in reference.tags">
                        <input name="tag[$index]" type="text" placeholder="Tagname" class="input-xlarge authorinput" ng-model="reference.tags[$index].name" required>
                        <span class="error" ng-show="submitReference.tags[$index].$error.required">required</span>
                    </div>
                    <button class="btn-small btn-info" ng-click="newTagField()"><i class="icon-plus-sign"></i> Add field</button>
                </div>
            </div>
        </fieldset>

    </form>

    <div class="clearfix"></div>


</div>

<!-- for debug purposes
<pre>{{reference | json }} </pre>-->

